### text editor 를 이용해 다음 표의 내용을 csv파일로 작성

|*country*|*population*|*area*|
|:---|:---|:---|
|South Korea|48422644|98480|
|China|1330044000|9596960|
|Japan|127288000|377835|
|United States|310232863|9629091|
|Russia|140702000|17100000|

In [27]:
import pandas as pd

df = pd.DataFrame({'country': ['South Korea', 'China', 'Japan', 'United States', 'Russia'], \
'population': [48422644, 1330044000, 127288000, 310232863, 140702000], \
'area': [98480, 9596960, 377835, 9629091, 17100000]})
print(df)

country  population      area
0    South Korea    48422644     98480
1          China  1330044000   9596960
2          Japan   127288000    377835
3  United States   310232863   9629091
4         Russia   140702000  17100000

In [29]:
df.to_csv('./6_2.csv', sep=',', index= False)

In [36]:
df2 = pd.read_csv('./6_2.csv')

In [37]:
df2['pop_den'] = 0
for i in range(len(df2['population'])):
    df2['pop_den'][i] = df2['population'][i]/df2['area'][i]

print(df)

country  population      area  pop_den
0    South Korea    48422644     98480      491
1          China  1330044000   9596960      138
2          Japan   127288000    377835      336
3  United States   310232863   9629091       32
4         Russia   140702000  17100000        8

In [25]:
df = pd.DataFrame

['country', 'population', 'area']
['South Korea', '48422644', '98480']
['China', '1330044000', '9596960']
['Japan', '127288000', '377835']
['United States', '310232863', '9629091']
['Russia', '140702000', '17100000']

In [44]:
df2 = df2.sort_values(by=['pop_den'], axis=0, ascending=False)
df2

         country  population      area  pop_den
0    South Korea    48422644     98480      491
2          Japan   127288000    377835      336
1          China  1330044000   9596960      138
3  United States   310232863   9629091       32
4         Russia   140702000  17100000        8

In [51]:
df_country_pop_den = df2.loc[:,['country', 'pop_den']]
df_country_pop_den

         country  pop_den
0    South Korea      491
2          Japan      336
1          China      138
3  United States       32
4         Russia        8

## csv 모듈 사용

In [100]:
import csv

In [101]:
f1 = open('./6_2_by_csv.csv', 'w', newline='')
wr = csv.writer(f1)

In [102]:
wr.writerow(['country', 'population', 'area'])
wr.writerow(['South Korea', 48422644, 98480])
wr.writerow(['China', 1330044000, 9596960])
wr.writerow(['Japan', 127288000, 377835])
wr.writerow(['United States', 310232863, 9629091])
wr.writerow(['Russia', 140702000, 17100000])

27

In [103]:
f1.close()

In [128]:
import pprint

f2 = open('./6_2_by_csv.csv', 'r')

rd = csv.reader(f2)

In [129]:
pop_dens = dict()
for row in rd:
    if row[1].isnumeric()==False:
        continue
    pop_dens[row[0]] = int(row[1])/int(row[2])

In [130]:
pop_dens

{'South Korea': 491.7002843216897,
 'China': 138.5901368766776,
 'Japan': 336.88779493694335,
 'United States': 32.218291736987425,
 'Russia': 8.228187134502924}

In [133]:
sorted(pop_dens.items(), key = lambda x: x[1], reverse=True)

[('South Korea', 491.7002843216897),
 ('Japan', 336.88779493694335),
 ('China', 138.5901368766776),
 ('United States', 32.218291736987425),
 ('Russia', 8.228187134502924)]